In [37]:
import pyautogui as auto
from time import sleep
import pandas as pd
import numpy as np
import pyperclip as clip

In [38]:
#initializing the final dataframe

dicti={'upper_left_latitude':[0],'upper_left_longitude':[0],'upper_right_latitude':[0],'upper_right_latitude':[0],\
      'upper_right_longitude':[0],'lower_left_latitude':[0],'lower_left_longitude':[0],\
      'lower_right_latitude':[0],'lower_right_longitude':[0],'projection':[0],'Area':[0]}
final=pd.DataFrame(dicti)
final

,upper_left_latitude,upper_left_longitude,upper_right_latitude,upper_right_longitude,lower_left_latitude,lower_left_longitude,lower_right_latitude,lower_right_longitude,projection,Area
0,0,0,0,0,0,0,0,0,0,0

In [39]:
dicti={'upper_left_latitude':[0],'upper_left_longitude':[0],'upper_right_latitude':[0],'upper_right_latitude':[0],\
      'upper_right_longitude':[0],'lower_left_latitude':[0],'lower_left_longitude':[0],\
      'lower_right_latitude':[0],'lower_right_longitude':[0]}
system=pd.DataFrame(dicti)
system

,upper_left_latitude,upper_left_longitude,upper_right_latitude,upper_right_longitude,lower_left_latitude,lower_left_longitude,lower_right_latitude,lower_right_longitude
0,0,0,0,0,0,0,0,0

In [11]:
final=pd.read_csv("Refined.csv")
final=final.drop([final.columns[0]],axis=1)
final

,upper_left_latitude,upper_left_longitude,upper_right_latitude,upper_right_longitude,lower_left_latitude,lower_left_longitude,lower_right_latitude,lower_right_longitude,projection,Area
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,0
1,-8.931772,53.630352,-8.933650,53.039075,6.846395,53.839573,6.857510,53.212716,Selenographic,Equatorial
2,-7.707162,53.614902,-7.700702,53.086682,8.154181,53.824256,8.162017,53.260509,Selenographic,Equatorial
3,-6.482529,53.655556,-6.476417,53.074937,9.456141,53.868653,9.467919,53.245050,Selenographic,Equatorial
4,-1.502532,-125.898365,-1.508216,-125.353751,27.840479,-125.568207,27.832862,-124.937828,Selenographic,Equatorial
...,...,...,...,...,...,...,...,...,...,...
2060,5.285850,16.007156,5.248348,15.153142,-18.621029,15.884515,-18.656506,14.981188,Selenographic,Equatorial
2061,8.822562,16.012467,8.860601,15.153337,-15.061745,15.887883,-15.021289,15.003293,Selenographic,Equatorial
2062,-76.709342,-178.623937,-76.703664,-175.427821,-83.888420,179.974767,-83.876270,-173.263564,Polar,South
2063,-74.983788,-178.604289,-74.979346,-175.467661,-82.195974,-179.796869,-82.186635,-173.932598,Polar,South
2064,-78.436545,-179.021873,-78.427752,-174.929161,-85.574811,178.375767,-85.559948,-171.205987,Polar,South

In [10]:
system=pd.read_csv("System.csv")
system=system.drop([system.columns[0]],axis=1)
system

,upper_left_latitude,upper_left_longitude,upper_right_latitude,upper_right_longitude,lower_left_latitude,lower_left_longitude,lower_right_latitude,lower_right_longitude
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,-8.931772,53.630352,-8.933650,53.039075,6.846395,53.839573,6.857510,53.212716
2,-7.707162,53.614902,-7.700702,53.086682,8.154181,53.824256,8.162017,53.260509
3,-6.482529,53.655556,-6.476417,53.074937,9.456141,53.868653,9.467919,53.245050
4,-1.502532,-125.898365,-1.508216,-125.353751,27.840479,-125.568207,27.832862,-124.937828
...,...,...,...,...,...,...,...,...
2064,5.285850,16.007156,5.248348,15.153142,-18.621029,15.884515,-18.656506,14.981188
2065,8.822562,16.012467,8.860601,15.153337,-15.061745,15.887883,-15.021289,15.003293
2066,-77.490993,181.376467,-77.484835,184.640387,-84.681601,179.817305,-84.668932,187.283773
2067,-75.839949,181.352824,-75.833828,184.548094,-83.064969,180.139443,-83.054120,186.477389
2068,-79.158625,180.985882,-79.150736,185.181430,-86.310429,178.001760,-86.290153,189.998908

In [50]:
sleep(2)
curs=[]
y=[411,451,492,533,574,615]
for i in range(6):
    curs.append(tuple([1337,y[i]]))
    #auto.moveTo(1337,y[i])
    #sleep(1)

In [41]:
c=0
big_c=0

In [42]:
total_rows=3250
prev_arr=np.array([])
prev_page=310
prev_arr=[1,1,1,1,1,1,1,1]

In [56]:
sleep(5)

while(True):
    if(c==10):
        c=0
        auto.moveTo(812,653)
        sleep(0.15)
        auto.click()
        sleep(1.6)
        while True:
            auto.moveTo(485,654)
            sleep(0.2)
            auto.dragTo(425,653,button='left')
            sleep(0.2)
            auto.hotkey('command','c')

            auto.hotkey('command','c')
            auto.hotkey('command','c')
            sleep(0.2)
            x=pd.read_clipboard(sep='\\s+')
            x=int(x.columns[0])
            if x==prev_page+1:
                prev_page+=1
                break
            sleep(0.25)
    auto.scroll(-100)
    sleep(0.2)
    auto.moveTo(curs[c][0],curs[c][1])
    sleep(0.15)
    auto.click()
    while True:
        auto.moveTo(556,773)
        sleep(0.25)
        auto.dragTo(454,775,button='left')
        sleep(0.2)
        auto.hotkey('command','c')
        auto.hotkey('command','c')
        sleep(0.15)
        auto.hotkey('command','c')
        x=clip.paste()
        if x!='downloadables' and x!='':
            break
        sleep(0.2)
    auto.moveTo(600,439)

    sleep(0.15)
    auto.click()
    sleep(0.25)
    auto.scroll(20)
    sleep(0.25)



    auto.hotkey('command','f')
    #auto.keyUp('command')
    sleep(0.25)#
    auto.write("system_level")
    sleep(0.2)
    auto.moveTo(350,524)
    sleep(0.1)
    auto.click()
    sleep(0.15)

    auto.dragTo(409,894,button='left')
    sleep(0.15)
    auto.hotkey('command','c')
    auto.hotkey('command','c')
    auto.hotkey('command','c')
    auto.hotkey('command','c')
    sleep(0.15)
    auto.press('Esc')
    sleep(0.2)


    df=pd.read_clipboard(sep='\\s+')
    if df.columns[0]=='System_Level_Coordinates':
        pass
    else:
        sound.play()
    df2=df[df[df.columns[0]]=='content']
    vals=df2['Unnamed: 1']
    vals=vals.transpose()
    arr=np.array(vals)
    arr=[float(i) for i in arr]

    l=list(arr)
    sys=l[0:8]
    l=l[8:16]
    
    arr=np.array(l)
    flag=0
    for i in range(len(arr)):
        if prev_arr[i]==arr[i]:
            flag+=1
    if flag==3:
        break
    for i in range(len(arr)):
        if arr[i]>180:
            arr[i]=arr[i]-360

    auto.moveTo(309,430)
    sleep(0.2)
    auto.dragTo(692,463,button='left')
    sleep(0.15)
    auto.hotkey('command','c')
    sleep(0.15)
    auto.hotkey('command','c')
    auto.hotkey('command','c')
    sleep(0.1)
    a=pd.read_clipboard(sep='\\s+')
    l=list(arr)
    l.append(a.columns[1])
    l.append(np.array(a[a.columns[1]])[0])
    arr=np.array(l)
    final.loc[len(final.index)]=arr
    system.loc[len(system.index)]=np.array(sys[0:8])
    sleep(0.1)
    auto.moveTo(1222,137)
    sleep(0.15)
    auto.click()
    sleep(0.5)
    c+=1 
    big_c+=1
    prev_arr=arr
    if big_c%100==0:
        stri=str(big_c)+'.csv'
        final.to_csv(stri)
    if big_c==total_rows:
        final.to_csv('final.csv')
        break

ParserError: Expected 2 fields in line 60, saw 21. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.

In [53]:
final.to_csv("refined.csv")
system.to_csv("system.csv")